{% load static %}
<!DOCTYPE html>
<html>
    <header>
        <title>
            Allifmaal Dashboard
        </title>
        <link rel="stylesheet" href="{% static 'allifmainapp/css/allifmainappstyle.css' %}">
        
    
    </header>
    <body>
        <h1>
            Welcome to Allifmaal Engineering Ltd
        </h1>
        <p>
            just addded this
        </p>
        <h1>
            online testing now on 23rd Oct 2022 at 6:40am
        </h1>
        <h1 style="color: rgb(241, 130, 4);">
            After deployment changes... alxamdullilah... its now working...
        </h1>
        <h1>
            <a href="{% url 'allifmainapp:fortestingonly' %}">
                Allifmaal Ltd
            </a>
        </h1>
        <h1>
            <a href="{% url 'allifmainapp:nameregistpage_testing_only' %}">
                add name
            </a>
        </h1>
        <h5>
This is h5 heading just added
        </h5>
        
    </body>
</html>